*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1ecd;
/*     border: solid 2px;*/
    /*border-color:rgba(255, 255, 255, 0.9);*/ 
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 180px;
    background-image: url("../IMG/fondo3.jpg");
}
h2,h3,p,li{
    color: rgb(255, 240, 240);
    font-size: 20px;
}
